<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
    <%= t('shared.navigation.welcome', name: current_user.email) %>
    <%= link_to t('shared.navigation.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
