<%= link_to 'All tests', tests_path %>
<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
Your result:
<% if @test_passage.successful? %>
  <p class="succesful"> <%= @test_passage.calculate_result %>% </p>
  Test has successfuled!
<% else %>
  <p class="fail"> <%= @test_passage.calculate_result %>% </p>
  Test has failed!
<% end %>
