<div class="row justify-content-center">
  <% flash.each do |key, message| %>
        <div class="col-6 alert <%= flash_class(key) %>">
              <%# console %>
              <%= message.html_safe %>
        </div>
  <% end %>
</div>
