<p>
<br>
<%= current_year %>
<br>
<%= github_url("vitalyatn", "test-guru")  %><br>
Создание тестов по программированию <br>
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com',target: :_blank %>
</p>
